<!DOCTYPE html>
<html>
  <head>
    <title>FinBuddy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <nav>
      <div class="nav-wrapper">
        <a href="" class="brand-logo">
          <img class="responsive-img" src="assets/FinBuddyLogo.png" style="max-height: 55px">
        </a>
        <ul id="nav-mobile" class="right hide-on-sma-and-down">
          <li><a href="">Home</a></li>
          <li><a href="">Goals</a></li>
          <li><a href="">Settings</a></li>
        </ul>
      </div>
    </nav>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
